$white: #fff;
$black: #000;
$red: red;
$primary: #e21c37;
$secondary: #df3939;
$shade: #7a0e1a;
$light_border: #d1d5db;

/* MEDIA SCREEN

    @media screen and (max-width: 400px) {

    }
      @media screen and (min-width: 576px) {

    }
      @media screen and (min-width: 768px) {

    }
      @media screen and (min-width: 992px) {

    }
      @media screen and (min-width: 1280px) {

    }
*/
